.artWorks {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.artWorks>*{
    box-sizing: border-box;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.inventory > * {
    padding: .3em;
}

.art-work-icon {
    width: 1.5em;
    height: 1.5em;
}

.artworks-inventory .art-work-icon {
    width: 5em;
    height: 5em;
}

art-work-detail .art-work-icon {
    width: 80%;
    height: initial;
}