.artWorks {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.artWorks>*{
    box-sizing: border-box;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.inventory > * {
    padding: .3em;
}

.art-work-icon {
    width: 1.5em;
    height: 1.5em;
}

.artworks-inventory .art-work-icon {
    width: 5em;
    height: 5em;
}

art-work-detail .art-work-icon {
    width: 80%;
    height: initial;
}

art-work-edition canvas {
    border:1px solid black;
    width: 40vw;
    height: 40vw;
}

@media screen and (max-width: 1215px) {
    art-work-summary canvas {
        width: 90vw;
        height: 90vw;
    }

    art-work-edition canvas {
        width: 90vw;
        height: 90vw;
    }
}