body {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#blockchain-nav{
    
}

#blockchain-main{
    flex-grow: 1;
    overflow: auto;
    padding: 0 1.5rem;
}

#blockchain-footer{
    background-color: whitesmoke;
    padding: 1rem 1.5rem 1rem;
}