<div class="container" style="text-align: center;">
    <div [hidden]='!titleOnly' class="field">
        <label class="label">Choose a title for your artwork!</label>
        <div class="control">
            <input #title class="input" type="text" (change)='updateArtWorkTitle(title.value)' [value]='artWork.title'
                maxlength="100">
        </div>
    </div>

    <art-work-icon *ngIf='titleOnly' [artWorkId]='"artwork-" + artWorkId' class='preview-before-validate'
        [disablePaintCache]='true'></art-work-icon>

    <canvas [style.display]='titleOnly?"none":"initial"' id='canvas' #canvas (mousemove)='mouseMove($event)' (mouseout)='mouseOut()'
        (click)='mouseClick($event)'></canvas>

    <div>
        <button class="button" (click)='cancel.emit()'>Back</button>
        <button [disabled]="!canValidate" class="button is-primary" (click)='validateArtWork(title.value)'>Validate</button><br />
        <span *ngIf='!canValidate'>Cannot validate because those artworks you use are not themselves validated :</span>
        <art-work-icon style='padding:.5em;' *ngFor='let workItemId of notValidatedWorkItemIds' [artWorkId]='workItemId'></art-work-icon>
    </div>

    <div *ngIf='!titleOnly'>
        <br>
        <p>To create your artwork, use items from :</p>
        <div *ngIf='showTabs' class="tabs" style='display: block;'>
            <ul>
                <li [class.is-active]='viewInventory' (click)='setView(0)'>
                    <a>Your inventory</a>
                </li>
                <li [class.is-active]='viewCommunity' (click)='setView(1)'>
                    <a>Community artworks</a>
                </li>
            </ul>
        </div>

        <div *ngIf='viewInventory'>
            <h2>Your items ({{ inventoryNbItems }} items in {{ inventory.length }} categories)</h2>
            <div class="inventory">
                <div *ngFor='let item of limitedInventory' [class.selected]='item.id == selectedInInventory' (click)='selectInventory(item.id)'>
                    <art-work-icon [artWorkId]='item.id' (selected)='selectInventory(item.id)'></art-work-icon>
                    <b>{{ item.count }}</b>
                </div>
                <button *ngIf='inventory.length>limitInventory' class="button" (click)='plusInventory()'>More...</button>
            </div>
        </div>

        <div *ngIf='viewCommunity'>
            <h2>Available artworks</h2>
            <div class="inventory artworks-inventory">
                <div *ngFor='let itemId of limitedOthersInventory' [class.selected]='itemId == selectedInOthersInventory'
                    (click)='selectOthersInventory(itemId)'>
                    <art-work-icon [artWorkId]='itemId' (selected)='selectOthersInventory(itemId)'></art-work-icon>
                </div>
                <button *ngIf='othersInventory.length>limitArtWorks' class="button" (click)='plusArtWorks()'>More...</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf='!titleOnly'>
    <div class='container' style='text-align: center;'>
        Messages:
        <div *ngIf='artWork.messages'>
            <div *ngFor='let message of artWork.messages'>
                <i>{{ pseudoOrId(message.author) }} :</i> {{ message.text }}
            </div>
        </div>
        <input #newMessage placeholder="type any message here" type="text" (keyup.enter)='sendMessage(artWork.id, newMessage)'
            style='font-size: 80%;'>
    </div>

    <div class="field">
        <label class="label">You can change your artwork's grid size</label>
        <div class="control columns">
            <div class='column'>
                Width
                <input #width class="input" type="number" max="100" min="1" (change)='changeArtWorkSize(width.value, height.value)'
                    [value]='artWork.size.width'>
            </div>
            <div class='column'>
                Height
                <input #height class="input" type="number" max="100" min="1" (change)='changeArtWorkSize(width.value, height.value)'
                    [value]='artWork.size.height'>
            </div>
        </div>
    </div>
</div>