<h1>ArtWork edition</h1>
<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" type="text" [(ngModel)]='artWork.title'>
    </div>
    <p class="help">Title of the ArtWork</p>
</div>
<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <textarea name="" cols="30" rows="10" [(ngModel)]='artWork.description'></textarea>
    </div>
    <p class="help">Description of the ArtWork</p>
</div>
<div class="field">
    <label class="label">Size</label>
    <div class="control">
        Width <input class="input" type="number" [(ngModel)]='artWork.size.width'>
        Height <input class="input" type="number" [(ngModel)]='artWork.size.height'>
    </div>
    <p class="help">Size of the grid</p>
</div>

<canvas #canvas (mousemove)='mouseMove($event)' (mouseout)='mouseOut()' (click)='mouseClick($event)' width="400" height="400" style="border:1px solid black; width:15em; height: 15em;"></canvas>

<h2>Inventory</h2>
<span *ngFor='let item of inventory' [class.selected]='item.id == selectedInInventory'>
    <art-work-icon [artWorkId]='item.id' (selected)='selectInventory(item.id)'></art-work-icon>
    <b>{{ item.count }}</b>
</span>

<h2>Others Inventory</h2>
<span *ngFor='let item of othersInventory' [class.selected]='item.id == selectedInOthersInventory'>
    <art-work-icon [artWorkId]='item.id' (selected)='selectOthersInventory(item.id)'></art-work-icon>
    <b>{{ item.count }}</b>
</span>

<button class="button is-primary" (click)='validate.emit()'>Publish ArtWork</button>
<button class="button" (click)='cancel.emit()'>Cancel</button>