<div class="card">
    <div class="card-image">
        <figure class="image">
            <canvas #canvas (click)='updatePainting()' width="400" height="400" style="border:1px solid black; width:15em; height: 15em;"></canvas>
        </figure>
    </div>
    <div class="card-content">
        <div class="media" (click)='select.emit(artWork)'>
            <div class="media-content">
                <div *ngIf='!artWork.validated'>🚧 👷 In progress 👷 🚧</div>
                <p class="title is-4">{{ artWork.title }}</p>
                <p class="subtitle is-6">{{ artWork.author }}</p>
                <div>Grid size {{ artWork.size.width }} x {{ artWork.size.height }}</div>
                <p>{{ artWork.description }}</p>
                <div *ngIf='artWork.author==state.userId'>
                    <button *ngIf='!artWork.validated' class='button is-primary' (click)='edit.emit(artWork)'>Edit</button>
                </div>
                <div *ngIf='artWork.messages'>
                    <div *ngFor='let message of artWork.messages'>
                        <i>{{ message.author }} :</i> {{ message.text }}
                    </div>
                </div>
                <input #newMessage type="text" (keyup.enter)='sendMessage(artWork.id, newMessage)' style='font-size: 80%;'>
                <button class='button' (click)='sendMessage(artWork.id, newMessage)'>Send message</button>
            </div>
        </div>
    </div>
</div>