<div class="card artWork-card" [class.empty]=isArtWorkEmpty()>
    <div class="card-image" (click)='select.emit(artWork)'>
        <figure class="image square artWork-icon">
            <canvas #canvas></canvas>
        </figure>
    </div>

    <div *ngIf='artWork && !artWork.validated'>🚧 👷 In progress 👷 🚧</div>

    <div *ngIf='artWork && artWork.author==state.user.id'>
        <button *ngIf='!artWork.validated' class='button' (click)='edit.emit(artWork)'>Edit</button>
        <button *ngIf='!artWork.validated && canValidate' class='button is-primary' (click)='validate()'>Validate</button>
    </div>
</div>