<h1>ArtWork edition</h1>
<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input #title class="input" type="text" (input)='updateArtWorkTitle(title.value)' [value]='artWork.title'>
    </div>
    <p class="help">Title of the ArtWork</p>
</div>
<!--<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <textarea #description name="" cols="30" rows="10" (input)='updateArtWorkDescription(description.value)'
            [value]='artWork.description'></textarea>
    </div>
    <p class="help">Description of the ArtWork</p>
</div>-->
<div class="field">
    <label class="label">Size</label>
    <div class="control">
        Width
        <input #width class="input" type="number" (input)='changeArtWorkSize(width.value, height.value)' [value]='artWork.size.width'>
        Height
        <input #height class="input" type="number" (input)='changeArtWorkSize(width.value, height.value)' [value]='artWork.size.height'>
    </div>
    <p class="help">Size of the grid</p>
</div>

<canvas #canvas (mousemove)='mouseMove($event)' (mouseout)='mouseOut()' (click)='mouseClick($event)' style="border:1px solid black; width:15em; height: 15em;"></canvas>

<h2>Inventory</h2>
<div class="inventory">
    <div *ngFor='let item of inventory' [class.selected]='item.id == selectedInInventory' (click)='selectInventory(item.id)'>
        <art-work-icon [artWorkId]='item.id' (selected)='selectInventory(item.id)'></art-work-icon>
        <b>{{ item.count }}</b>
    </div>
</div>

<h2>Others Inventory</h2>
<div class="inventory">
    <div *ngFor='let item of othersInventory' [class.selected]='item.id == selectedInOthersInventory' (click)='selectOthersInventory(item.id)'>
        <art-work-icon [artWorkId]='item.id' (selected)='selectOthersInventory(item.id)'></art-work-icon>
        <b>{{ item.count }}</b>
    </div>
</div>

<div>
    <button class="button" (click)='cancel.emit()'>Back</button><br />
    <button [disabled]='!canValidate' class="button is-primary" (click)='validate.emit()'>Validate</button><br />
    <span *ngIf='!canValidate'>You cannot validate because not all items have been accepted !</span><br />
</div>