<div class="card">
    <div class="card-content">
        <div class="media" (click)='select.emit(groupWork)'>
            <div class="media-left">
                <canvas #canvas width="400" height="400" style="border:1px solid black; width:15em; height: 15em;"></canvas>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ groupWork.title }}</p>
                <p class="subtitle is-6">{{ groupWork.author }}</p>
                <div>Lots {{ groupWork.zoneSize.width }} x {{ groupWork.zoneSize.height }}</div>
                <div>Taille en lots {{ groupWork.size.width }} x {{ groupWork.size.height }}</div>
                <p>{{ groupWork.description }}</p>
                <div *ngIf='groupWork.author==userId'>
                    <span *ngIf='groupWork.nbAvailableOffers>0'>{{ groupWork.nbAvailableOffers }} offres dispos</span>
                    <br />
                    <button class='button is-primary'>Manage</button>
                </div>
                <div *ngIf='groupWork.author!=userId'>
                    <button class='button is-primary'>Artwork</button>
                    <button class='button is-primary'>Group work</button>
                </div>
            </div>
        </div>
    </div>
</div>