<div *ngIf='!state.hasSupplyChainAccount'>
    <h2>Supply Chain account creation, please wait...</h2>
    <div>User : {{ state.user != null ? '✔️' : '❌' }}</div>
    <div>RSA keys : {{ state.user?.keys != null ? '✔️' : '❌' }}</div>
    <div>Identity contract : {{ state.hasIdentityContract ? '✔️' : '❌' }}</div>
    <div>Registered Identity : {{ state.registeredOnIdentityContract ? '✔️' : '❌' }}</div>
</div>
<div *ngIf='state.hasSupplyChainAccount'>
    <div *ngIf='!editingArtworkId' class="container">
        <supply-chain-overview (initArtWorkCreation)='initArtWorkCreation()' (editArtWork)='editArtWork($event)'></supply-chain-overview>
    </div>

    <div *ngIf='editingArtworkId' class='container'>
        <art-work-edition [artWorkId]='editingArtworkId' (validate)='validateArtWork()' (cancel)='cancelArtwork()'></art-work-edition>
    </div>

    <!--{{ state.programState | json }}-->
</div>