<h2>Inventory ({{ inventoryNbItems }} items in {{ inventory.length }} categories)</h2>
<div class="inventory">
    <div *ngFor='let item of inventory'>
        <art-work-icon [artWorkId]='item.id'></art-work-icon>
        <b>{{ item.count }}</b>
    </div>
</div>

<h2>Artworks</h2> ({{ countUsers }} registered users)
<div>
    <button class='button is-primary' (click)='initArtWorkCreation.emit()'>Create a new Artwork</button>
</div>
<div class="artWorks">
    <art-work-summary *ngFor='let artWorkId of artWorksToDisplay' [artWorkId]='artWorkId' (edit)='editArtWork.emit($event.id)'></art-work-summary>
</div>