.inventory-item {
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 2em;
}

.selected {
    border: 3px solid black;
}

.lot-grid > div {
    display: inline-block;
    margin: .2em;
    width: 2em;
    height: 2em;
    background-color: lightgray;
}

.grille {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: .5em;
    width: 40vh;
    height: 40vh;;
}

.grille > div {
    background-color: aqua;
}
