<div class="container">
    <div *ngFor='let groupWork of groupWorksToDisplay()'>
        <group-work-summary [userId]='userId' [groupWork]='groupWork'></group-work-summary>
    </div>
    <div>
        <h2>Inventaire</h2>
        <span *ngFor='let item of inventaire' [class.selected]='item.selected'>
            <div *ngIf='item.id.startsWith("pix-")' class='inventory-item' [style.backgroundColor]='item.id.substr(4)'></div>
            <div *ngIf='item.id.startsWith("emoji-")' class='inventory-item'>{{ item.id.substr(6) }}</div>
            <div *ngIf='item.id.startsWith("groupWork-")' class='inventory-item'>groupWork</div>
            <b>{{ item.quantity }}</b>
        </span>
    </div>
    <div>
        <button class='button is-primary' (click)='initArtWorkCreation()'>Artwork</button>
        <button class='button is-primary' (click)='initGroupWorkCreation()'>Group work</button>
    </div>
</div>

<div *ngIf='creatingGroupWork && !creatingGroupWork.grid' class="container">
    <h2>GroupWork creation</h2>
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" [(ngModel)]='creatingGroupWork.title'>
        </div>
        <p class="help">Title of the GroupWork</p>
    </div>
    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea name="" cols="30" rows="10" [(ngModel)]='creatingGroupWork.description'></textarea>
        </div>
        <p class="help">Description of the GroupWork</p>
    </div>
    <div class="field">
        <label class="label">Lot Size</label>
        <div class="control">
            Width <input class="input" type="number" [(ngModel)]='creatingGroupWork.zoneSize.width'>
            Height <input class="input" type="number" [(ngModel)]='creatingGroupWork.zoneSize.height'>
        </div>
        <p class="help">Size of the individual sub-zones</p>
    </div>
    <div class="field">
        <label class="label">Size</label>
        <div class="control">
            Width <input class="input" type="number" [(ngModel)]='creatingGroupWork.size.width'>
            Height <input class="input" type="number" [(ngModel)]='creatingGroupWork.size.height'>
        </div>
        <p class="help">Size of the zones grid</p>
    </div>
    <button class="button is-primary" (click)='continueGroupWorkCreation()'>Share this GroupWork</button>
</div>


<div class="container">
    <div *ngIf='selectedGroupWork'>
        <h2>SELECTED GroupWork</h2>
        <h3>Grille des lots</h3>
        <div class='lot-grid'>
            <div *ngFor='let lot of selectedGroupWork.lotGrid'></div>
        </div>
        <h3>Items disponibles</h3>
        <div *ngFor='let item of availableOffers'>
            {{ item.title }}
        </div>
        <button class='button'>Précédent</button>
    </div>
</div>

<div class="container">
    <canvas #canvas width="400" height="400" style="background:lightgray;width: 40vh;height: 40vh;"></canvas>
</div>

<div>
    <h2>Ecran de création d'un lot</h2>
    <p>Deux étapes</p>
    <p>Choix taille lot et taille globale</p>



    <p>Peinture (zone de dessin + pixels disponibles)</p>
</div>