<div *ngIf='!state.hasSupplyChainAccount' class="container">
    <h2>Loading blocks and initializing the Supply Chain, please wait...</h2>
    <div>User : {{ state.user != null ? '✔️' : '❌' }}</div>
    <div>RSA keys : {{ state.user?.keys != null ? '✔️' : '❌' }}</div>
    <div>Identity contract : {{ state.hasIdentityContract ? '✔️' : '❌' }}</div>
    <div>Registered Identity : {{ state.registeredOnIdentityContract ? '✔️' : '❌' }}</div>
</div>

<div *ngIf='state.hasSupplyChainAccount'>
    <div *ngIf='!editingArtworkId' class="container is-fluid">
        <supply-chain-overview (initArtWorkCreation)='initArtWorkCreation()' (editArtWork)='editArtWork($event)'
            (selectArtWork)='selectArtWork($event)'></supply-chain-overview>
    </div>

    <div *ngIf='editingArtworkId' class='container'>
        <art-work-edition *ngIf='isEditableArtWork()' [artWorkId]='editingArtworkId' (validate)='validateArtWork()'
            (cancel)='cancelArtwork()'></art-work-edition>
        <art-work-detail *ngIf='!isEditableArtWork()' [artWorkId]='editingArtworkId' (cancel)='cancelArtwork()'></art-work-detail>
    </div>
</div>