<div class='container'>

    <h1>Wall of Fame</h1>

    <p>{{ nbUsers }} users</p>
    <p>{{ nbArtWorks }} artworks</p>

    <h2>List of all users' statistics :</h2>

    <div *ngFor='let user of users' class='card'>
        <header class="card-header">
            <p class="card-header-title">
                {{ user.pseudo }}<span *ngIf='user.id==state.user.id'>(🌼 It's you 🌼)</span>
            </p>
        </header>

        <div class="card-content">
            <div class="content">
                <p style="font-size:.6em;">Id: {{ user.id }}</p>
                <p>Winned items: <b>{{ user.nbWinnedItems }}</b><span *ngIf='isMax("winned-items", user.nbWinnedItems)'>
                        🎉🏆👏</span></p>
                <p>Winned emojis: <b>{{ user.nbWinnedEmojis }}</b><span *ngIf='isMax("winned-emojis", user.nbWinnedEmojis)'>
                        🎉🏆👏</span></p>
                <p>Winned pixels: <b>{{ user.nbWinnedPixels }}</b><span *ngIf='isMax("winned-pixels", user.nbWinnedPixels)'>
                        🎉🏆👏</span></p>
                <p>Inventory items: <b>{{ user.nbInventoryItems }}</b><span *ngIf='isMax("inventory-items",user.nbInventoryItems)'>
                        🎉🏆👏</span></p>
                <p>Consummed ArtWorks: <b>{{ user.nbConsumedArtWorks }}</b><span *ngIf='isMax("consumed-artworks", user.nbConsumedArtWorks)'>
                        🎉🏆👏</span></p>
                <p>Consummed Emojis: <b>{{ user.nbConsumedEmojis }}</b><span *ngIf='isMax("consumed-emojis", user.nbConsumedEmojis)'>
                        🎉🏆👏</span></p>
                <p>Consummed Pixels: <b>{{ user.nbConsumedPixels }}</b><span *ngIf='isMax("consumed-pixels", user.nbConsumedPixels)'>
                        🎉🏆👏</span></p>

                <!--{{ user | json }}-->

                <div *ngFor='let artWork of user.artWorks' style='display:inline-block;' class='score-icon'>
                    <div class="card">
                        <div class="card-image">
                            <art-work-icon [artWorkId]='"artwork-"+artWork.id'></art-work-icon>
                        </div>
                        <div class="card-content">
                            <div class='card-header-title'>{{ artWork.title }}</div>
                            <div *ngIf='artWork.uses'>Used {{ artWork.uses }} times<span *ngIf='isMax("artwork-uses", artWork.uses)'>🎉🏆👏</span></div>
                            <div *ngIf='artWork.messages'>
                                <div *ngFor='let message of artWork.messages'><i>{{ pseudoOrId(message.author) }} : </i>{{
                                    message.text }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <p style="font-size:.5em;">Public key: {{ user.publicKey }}</p>
            </div>
        </div>
    </div>
</div>