<div>
  <input [(ngModel)]='title'>
  <div>Node : {{fullNode.node?.name}}</div>
  <div>P2P :
    <div *ngFor='let m of knownAcceptedMessages'>MESSAGE {{m | json}}</div>
    <div *ngIf='p2pBroker.ready'>P2P broker ready</div>
    <div *ngIf='!p2pBroker.ready' style='color:red;'>P2P broker NOT READY</div>
    <button (click)='offerP2PChannel()'>offer channel</button>
  </div>
  <div>
    Mining Message :
    <input #minedData type="text" value='Some data to mine...'> Difficulty :
    <input #miningDifficulty type="number" value='100'>
    <button (click)='mine(minedData.value, miningDifficulty.value)' [disabled]='isMining'>Mine</button>
    <br>
    timer : <input #automineTimer type="number" value='2000'>
    <button (click)='toggleAutomine(minedData.value, miningDifficulty.value, automineTimer.value)'>toggle auto-mine (is {{autoMining}})</button>
  </div>
  <div>Branches
    <ul>
      <li *ngFor="let branchInfo of state">
        Branch: {{branchInfo.branch}} at {{branchInfo.head}}
        <br/> Blocks:
        <br/>
        <ul>
          <li *ngFor="let block of branchInfo.blocks">
            {{block.blockData.data | json}}
            <br/>
            <!--<span style='font-size:.7em;'>metadata: {{block.blockMetadata | json}}</span>-->
            <!--  ], "validityProof": { "difficulty": 1, "padding": 3 } }, "chainLength": 45 }-->
            <div style='font-size:.7em;'>
              id: {{block.blockMetadata.blockId}}
              <br/> valid: {{block.blockMetadata.isValid}}
              <br/> branch: {{block.blockData?.branch}}
              <br/> previous blocks: {{block.blockData?.previousBlockIds | json}}
              <br/> confidence: {{block.blockMetadata.confidence}}
              <br/> blockCount: {{block.blockMetadata.blockCount}}
              <br/> validityProof: {{block.blockData?.validityProof | json}}
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>Peers
    <input type="text" #peerHost value="localhost">
    <input type="text" #peerPort value="9091">
    <button (click)='addPeer(peerHost.value, peerPort.value)'>Add peer</button>
    <ul>
      <li [style.background-color]='peer.connected ? "green":"red"' *ngFor='let peer of peers'>{{peer.host}}:{{peer.port}}</li>
    </ul>
  </div>
  <div>Logs
    <div *ngFor="let log of logs">{{log}}</div>
  </div>
</div>