<div>
  {{title}}
  <div>Node : {{fullNode.node.name}}</div>
  <div>Mining Message :
    <input #minedData type="text" value='Some data to mine...'>
    <button (click)='mine(minedData.value)'>Mine hello world</button>
  </div>
  <div>Branches
    <ul>
      <li *ngFor="let branchInfo of state">
        Branch: {{branchInfo.branch}} at {{branchInfo.head}}
        <br/> Blocks:
        <br/>
        <ul>
          <li *ngFor="let block of branchInfo.blocks">
            {{block.blockData.data | json}}<br/>
            <!--<span style='font-size:.7em;'>metadata: {{block.blockMetadata | json}}</span>-->
            <!--  ], "validityProof": { "difficulty": 1, "padding": 3 } }, "chainLength": 45 }-->
            <div style='font-size:.7em;'>
                id: {{block.blockMetadata.blockId}}<br/>
                valid: {{block.blockMetadata.isValid}}<br/>
                branch: {{block.blockMetadata.target?.branch}}<br/>
                previous blocks: {{block.blockMetadata.target?.previousBlockIds | json}}<br/>
                chain length: {{block.blockMetadata.chainLength}}<br/>
                validityProof: {{block.blockMetadata.target?.validityProof | json}}<br/>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>Logs
    <div *ngFor="let log of logs">{{log}}</div>
  </div>
  <div>Peers
    <input type="text" #peerHost value="localhost">
    <input type="text" #peerPort value="9091">
    <button (click)='addPeer(peerHost.value, peerPort.value)'>Add peer</button>
    <ul>
      <li [style.background-color]='peer.connected ? "green":"red"' *ngFor='let peer of peers'>{{peer.host}}:{{peer.port}}</li>
    </ul>
  </div>
  <div>History:
    <ul>
      <li *ngFor="let head of headHistory;">{{head}}</li>
    </ul>
  </div>
</div>